#1) Write a python program to display all the header tags from wikipedia.org.

In [140]:
from bs4 import BeautifulSoup
import requests

In [141]:
page1=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page1

In [187]:
soup1=BeautifulSoup(page1.content)
#soup1

In [143]:
heading_tags = ["h1", "h2", "h3"]
for tags in soup1.find_all(heading_tags):
    print(tags.name,' -> ', tags.text.strip())

h1  ->  Main Page
h1  ->  Welcome to Wikipedia
h2  ->  From today's featured article
h2  ->  Did you know ...
h2  ->  In the news
h2  ->  On this day
h2  ->  Today's featured picture
h2  ->  Other areas of Wikipedia
h2  ->  Wikipedia's sister projects
h2  ->  Wikipedia languages
h2  ->  Navigation menu
h3  ->  Personal tools
h3  ->  Namespaces
h3  ->  Views
h3  ->  Search
h3  ->  Navigation
h3  ->  Contribute
h3  ->  Tools
h3  ->  Print/export
h3  ->  In other projects
h3  ->  Languages

#2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame

In [ ]:
!pip install bs4
!pip install requests

In [7]:
from bs4 import BeautifulSoup
import requests

In [8]:
page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100')
page

In [186]:
soup = BeautifulSoup(page.content)
#soup

In [178]:
moviesname = soup.find_all('h3',class_='lister-item-header')
#moviesname

In [19]:
moviesname.a

#scraping year

In [21]:
year = soup.find('span',class_='lister-item-year text-muted unbold')
year

In [22]:
year.text

'(1994)'

#scraping rating

In [23]:
rating=soup.find('div',class_='inline-block ratings-imdb-rating')['data-value']
rating

'9.3'

#scraping all movie name

In [179]:
titles = []

for movies in soup.find_all('h3',class_='lister-item-header'):
    
    titles.append(movies.text.replace('\n',''))
    
    
#titles

In [ ]:
#scraping all year

In [180]:
years = []

for a in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    years.append(a.text.replace('\n',''))
    
    
    
    
#years

In [181]:
rating = []

for a in soup.find_all('div',class_='inline-block ratings-imdb-rating'):
    rating.append(a.text.replace('\n',''))
    
    
    
    
    
#rating

In [28]:
#making dataframe

In [29]:
import pandas as pd
df = pd.DataFrame({'titles':titles,'years':years,'rating':rating})
df

                                               titles   years rating
0                    1.The Shawshank Redemption(1994)  (1994)    9.3
1                               2.The Godfather(1972)  (1972)    9.2
2                             3.The Dark Knight(2008)  (2008)    9.0
3   4.The Lord of the Rings: The Return of the Kin...  (2003)    9.0
4                            5.Schindler's List(1993)  (1993)    9.0
..                                                ...     ...    ...
95                        96.North by Northwest(1959)  (1959)    8.3
96                                   97.Vertigo(1958)  (1958)    8.3
97                       98.Singin' in the Rain(1952)  (1952)    8.3
98                              99.Citizen Kane(1941)  (1941)    8.3
99        100.M - Eine Stadt sucht einen Mörder(1931)  (1931)    8.3

[100 rows x 3 columns]

#3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [30]:
import requests 
from bs4 import BeautifulSoup

In [31]:
page = requests.get('https://www.imdb.com/list/ls063915608/')
page

In [182]:
soup = BeautifulSoup(page.content)
#soup

In [33]:
#scraping movie name

In [34]:
movie_name = soup.find('h3',class_='lister-item-header')
movie_name

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0405508/">Rang De Basanti</a>
<span class="lister-item-year text-muted unbold">(2006)</span>
</h3>

In [35]:
movie_name.a.text

'Rang De Basanti'

In [36]:
#scraping year

In [37]:
re_year = soup.find('span',class_='lister-item-year text-muted unbold')
re_year

In [38]:
re_year.text

'(2006)'

In [39]:
#scraping rating

In [188]:
re_rating = soup.find('div',class_='ipl-rating-star small')
#re_rating

In [41]:
re_rating.text

'\n\n\n\n\n\n\n\n8.1\n'

In [42]:
#scraping all movie name

In [183]:
movie_name = []

for movies in soup.find_all('h3',class_='lister-item-header'):
    
    movie_name.append(movies.text.replace('\n',''))
    
#movie_name

In [50]:
#scraping all year

In [184]:
re_year = []

for a in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    re_year.append(a.text.replace('\n',''))
    
#re_year

In [46]:
#scarping all rating

In [185]:
re_rating = []

for a in soup.find_all('div',class_='ipl-rating-star small'):
    re_rating.append(a.text.replace('\n',''))
    
#re_rating

In [48]:
#dataframe

In [53]:
import pandas as pd
df = pd.DataFrame({'movie_name':movie_name,'re_year':re_year,'re_rating':re_rating})
df

                                   movie_name re_year re_rating
0                     1.Rang De Basanti(2006)  (2006)       8.1
1   2.Lagaan: Once Upon a Time in India(2001)  (2001)       8.1
2                      3.Dil Chahta Hai(2001)  (2001)       8.1
3                  4.Gangs of Wasseypur(2012)  (2012)       8.2
4            5.Zindagi Na Milegi Dobara(2011)  (2011)       8.2
..                                        ...     ...       ...
95                           96.Dhamaal(2007)  (2007)       7.4
96            97.Golmaal: Fun Unlimited(2006)  (2006)       7.4
97                           98.Aligarh(2015)  (2015)       7.8
98                             99.Earth(1998)  (1998)       7.6
99                    100.Kapoor & Sons(2016)  (2016)       7.7

[100 rows x 3 columns]

4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
from https://presidentofindia.nic.in/former-presidents.ht

In [147]:
# importing required libraries
from bs4 import BeautifulSoup,NavigableString
import requests
page3=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
soup3=BeautifulSoup(page3.content)

In [148]:
Former_president=soup3.find_all("h3")
President_name=[]
for i in Former_president:
    President_name.append((i.text)[:-14])

In [151]:
term=soup3.find_all("div",{"class":"presidentListing"})
Term_of_Office=[]
for i in term:
    n=0
    m=0
    for j in list(i.text):
        m+=1
        if j=="\n":
            n+=1
        if n==2:
            break
    list1=list(i.text)[m+15:]
    a=0
    b=0
    for k in list1:
        b+=1
        if k=='\n':
            a+=1
        if a==1:
            break
    list2=list1[:b-1]
    def listToString(s):
        # initialize an empty string
        str1 = ""
        # return string 
        return (str1.join(s))
    Term_of_Office.append(listToString(list2))

In [152]:
Former_Presidents_of_India=pd.DataFrame(list(zip(President_name,Term_of_Office)),columns=["President_Name","Term_Of_Office"])
print("******************************************Former Presidents******************************************")
Former_Presidents_of_India.set_index("Term_Of_Office")

******************************************Former Presidents******************************************

                                                                   President_Name
Term_Of_Office
 25 July, 2017 to 25 July, 2022                             Shri Ram Nath Kovind
 25 July, 2012 to 25 July, 2017                               Shri Pranab Mukherj
 25 July, 2007 to 25 July, 2012                     Smt Pratibha Devisingh Patil
 25 July, 2002 to 25 July, 2007                              DR. A.P.J. Abdul Kal
 25 July, 1997 to 25 July, 2002                              Shri K. R. Narayanan
 25 July, 1992 to 25 July, 1997                             Dr Shankar Dayal Shar
 25 July, 1987 to 25 July, 1992                                 Shri R Venkataram
 25 July, 1982 to 25 July, 1987                                    Giani Zail Sin
 25 July, 1977 to 25 July, 1982                           Shri Neelam Sanjiva Red
 24 August, 1974 to 11 February, 1977                      Dr. Fakhruddin Ali Ahm
 3 May, 1969 to 20 July, 1969 and 24 August, 19...     Shri Varahagiri Venkata Gi
 13 May, 1967 to 3 May, 1969                                       Dr. Zakir Husa
 13 May, 1962 to 13 May, 1967                          Dr. Sarvepalli Radhakrishn
 26 January, 1950 to 13 May, 1962                              Dr. Rajendra Prasa

#5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#b) Top 10 ODI Batsmen along with the records of their team and rating.
#c) Top 10 ODI bowlers along with the records of their team and rating.

#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [153]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup=BeautifulSoup(page.content)

In [154]:
ODITeamNames=soup.find_all("span",{"class":"u-hide-phablet"})
ODI_Team_names=[]
for i in ODITeamNames:
    ODI_Team_names.append((i.text))

In [155]:
ODITeamMatches=soup.find_all("tr",{"class":"table-body"})
ODI_Teams_matches=[]
for i in ODITeamMatches:
    n=0
    m=0
    for j in list(i.text):
        m+=1
        if j=="\n":
            n+=1
        if n==7:
            break
    list1=list(i.text)[m:]
    a=0
    b=0
    for k in list1:
        b+=1
        if k=='\n':
            a+=1
        if a==1:
            break
    list2=list1[:b-1]
    def listToString(s):
        # initialize an empty string
        str1 = ""
        # return string 
        return (str1.join(s))
    ODI_Teams_matches.append(listToString(list2)) 
ODI_Teams_matches.insert(0,"19")

In [156]:
ODITeamPoints=soup.find_all("tr",{"class":"table-body"})
ODI_Team_points=[]
for i in ODITeamPoints:
    n=0
    m=0
    for j in list(i.text):
        m+=1
        if j=="\n":
            n+=1
        if n==8:
            break
    list1=list(i.text)[m:]
    a=0
    b=0
    for k in list1:
        b+=1
        if k=='\n':
            a+=1
        if a==1:
            break
    list2=list1[:b-1]
    def listToString(s):
        # initialize an empty string
        str1 = ""
        # return string 
        return (str1.join(s))
    ODI_Team_points.append(listToString(list2))  
ODI_Team_points.insert(0,"2,355")

In [157]:
ODITeamRatings=soup.find_all("tr",{"class":"table-body"})
ODI_Teams_ratings=[]
for i in ODITeamPoints:
    n=0
    m=0
    for j in list(i.text):
        m+=1
        if j=="\n":
            n+=1
        if n==9:
            break
    list1=list(i.text)[m:]
    a=0
    b=0
    for k in list1:
        b+=1
        if k=='\n':
            a+=1
        if a==1:
            break
    list2=list1[:b-1]
    def listToString(s):
        # initialize an empty string
        str1 = ""
        # return string 
        return (str1.join(s))
    ODI_Teams_ratings.append(listToString(list2))  
ODI_Teams_ratings.insert(0,"124")

In [158]:
ODI=pd.DataFrame(list(zip(ODI_Team_names,ODI_Teams_matches,ODI_Team_points,ODI_Teams_ratings)),columns=["Countries","Matches","Points","Rating"])
print("*********Men's ODI TOP 10 Team Rankings*********")
ODI=ODI.set_index("Countries").head(10)
ODI

*********Men's ODI TOP 10 Team Rankings*********

             Matches Points Rating
Countries
England           19  2,355    124
New Zealand       22  2,508    114
India             31  3,447    111
Pakistan          22  2,354    107
Australia         29  3,071    106
South Africa      21  2,111    101
Bangladesh        30  2,753     92
Sri Lanka         29  2,658     92
West Indies       41  2,902     71
Afghanistan       18  1,238     69

#b) Top 10 ODI Batsmen along with the records of their team and rating.

In [159]:
import requests
from bs4 import BeautifulSoup

page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
soup=BeautifulSoup(page.content)

In [160]:
Top_10_Batsmen=soup.find_all("td",{"class":"name"})
batMens=["Babar Azam"]
for i in Top_10_Batsmen:
    batMens.append((i.text).replace("\n",""))
Team=["PAK"]
for i in soup.find_all("span",{"class":"table-body__logo-text"}):
    Team.append(i.text)
Ranking=["890"]
for i in soup.find_all("td",{"class":"rating"}):
    Ranking.append(i.text)
ODI=pd.DataFrame(list(zip(batMens,Team,Ranking)),columns=["Player","Team","Ranking"]).head(10).set_index("Player")
print("*********ODI TOP 10 Player's Ranking*********")
ODI

*********ODI TOP 10 Player's Ranking*********

                      Team Ranking
Player
Babar Azam             PAK     890
Rassie van der Dussen   SA     789
Quinton de Kock         SA     784
Imam-ul-Haq            PAK     779
Virat Kohli            IND     744
Rohit Sharma           IND     740
Jonny Bairstow         ENG     732
David Warner           AUS     725
Ross Taylor             NZ     701
Steve Smith            AUS     697

#c) Top 10 ODI bowlers along with the records of their team and rating.

In [161]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
soup=BeautifulSoup(page.content)

In [162]:
Player=["Trent Boult"]
for i in soup.find_all("td",{"class":"name"}):
    Player.append((i.text).replace("\n",""))
Team=["NZ"]
for i in soup.find_all("span",{"class":"table-body__logo-text"}):
    Team.append(i.text)
Rating=["720"]
for i in soup.find_all("td",{"class":"rating"}):
    Rating.append(i.text)
ODI=pd.DataFrame(list(zip(Player,Team,Rating)),columns=["Player","Team","Rating"]).head(10).set_index("Player")
print("**ODI TOP 10 Bowler's Ranking**")
ODI

**ODI TOP 10 Bowler's Ranking**

                 Team Rating
Player
Trent Boult        NZ    720
Josh Hazlewood    AUS    718
Mujeeb Ur Rahman  AFG    676
Jasprit Bumrah    IND    662
Shaheen Afridi    PAK    661
Mohammad Nabi     AFG    657
Mehedi Hasan      BAN    655
Matt Henry         NZ    654
Mitchell Starc    AUS    653
Rashid Khan       AFG    651

#6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [164]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup=BeautifulSoup(page.content)

In [165]:
Team=[]
Matches=["29"]
Points=["4,837"]
Rating=["167"]
for i in soup.find_all("span",{"class":"u-hide-phablet"}):
    Team.append(i.text)
for i in soup.find_all("td",{"class":"rating"}):
    Rating.append(i.text)
n=0
for i in soup.find_all("td",{"class":"table-body__cell u-center-text"}):
    n+=1
    if n%2==0:
        Points.append(i.text)
    else:
        Matches.append(i.text)
ODI=(pd.DataFrame(list(zip(Team,Matches,Points,Rating)),columns=["Team","Matches","Points","Rating"])).set_index("Team")
print("***Top 10 Women's ODI Team Rankings***")
ODI

***Top 10 Women's ODI Team Rankings***

             Matches Points Rating
Team
Australia         29  4,837    167
South Africa      35  4,157    119
England           36  4,205    117
India             35  3,732    107
New Zealand       33  3,302    100
West Indies       32  2,864     90
Bangladesh        12    930     78
Pakistan          30  1,962     65
Ireland           11    516     47
Sri Lanka         11    495     45
Zimbabwe           8      0      0

#b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [166]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
soup=BeautifulSoup(page.content)

In [167]:
Player=["Alyssa Healy"]
Team=['AUS']
Rating=["785"]
for i in soup.find_all("td",{"class":"name"}):
    Player.append((i.text).replace("\n",""))
for i in soup.find_all("span",{"class":"table-body__logo-text"}):
    Team.append((i.text).replace("\n",""))
for i in soup.find_all("td",{"class":"rating"}):
    Rating.append((i.text).replace("\n",""))
ODI=(pd.DataFrame(list(zip(Player,Team,Rating)),columns=["Player","Team","Rating"]).head(10)).set_index("Player")
print("***Top 10 Women's ODI Batting players***")
ODI

***Top 10 Women's ODI Batting players***

                    Team Rating
Player
Alyssa Healy         AUS    785
Beth Mooney          AUS    749
Natalie Sciver       ENG    740
Laura Wolvaardt       SA    732
Meg Lanning          AUS    710
Rachael Haynes       AUS    701
Smriti Mandhana      IND    698
Amy Satterthwaite     NZ    681
Harmanpreet Kaur     IND    662
Chamari Athapaththu   SL    655

#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [168]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
soup=BeautifulSoup(page.content)

In [169]:
Player=["Natalie Sciver"]
Team=['ENG']
Rating=["379"]
for i in soup.find_all("td",{"class":"name"}):
    Player.append((i.text).replace("\n",""))
for i in soup.find_all("span",{"class":"table-body__logo-text"}):
    Team.append((i.text).replace("\n",""))
for i in soup.find_all("td",{"class":"rating"}):
    Rating.append((i.text).replace("\n",""))
ODI=(pd.DataFrame(list(zip(Player,Team,Rating)),columns=["Player","Team","Rating"]).head(10)).set_index("Player")
print("***Top 10 women’s ODI all-rounder players***")
ODI

***Top 10 women’s ODI all-rounder players***

                  Team Rating
Player
Natalie Sciver     ENG    379
Natalie Sciver     ENG    372
Marizanne Kapp      SA    349
Hayley Matthews     WI    339
Amelia Kerr         NZ    336
Deepti Sharma      IND    271
Ashleigh Gardner   AUS    270
Jess Jonassen      AUS    246
Jhulan Goswami     IND    219
Sophie Ecclestone  ENG    217

#7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
#i) Headline
#ii) Time
#iii) News Link

In [171]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://www.cnbc.com/world/?region=world")
soup=BeautifulSoup(page.content)

In [173]:
Heading_content=soup.find_all("div",{"class":"RiverHeadline-headline RiverHeadline-hasThumbnail"})
Heading=[]
Time=[]
Link=[]
for i in Heading_content:
    Heading.append(i.text)
for i in soup.find_all("span",{"class":"RiverByline-datePublished"}):
    Time.append(i.text)
for i in soup.find_all('div',{"class":"RiverHeadline-headline RiverHeadline-hasThumbnail"}):
    a = (i.findAll('a'))
    for a in a:
        if str(a.attrs['href'])=="/pro/":
            pass
        else:
            Link.append(a.attrs['href'])
News=(pd.DataFrame(list(zip(Heading,Time,Link)),columns=["News Headings","News Time","News Link"])).set_index("News Headings")
News

,News Time,News Link
News Headings,,
North Korea fires ballistic missile into sea ahead of visit by U.S. VP Kamala Harris,2 hours ago,https://www.cnbc.com/2022/09/25/north-korea-fi...
Ether is down almost 20% since the merge. Here’s what’s going on,2 hours ago,https://www.cnbc.com/2022/09/23/ether-is-down-...

#8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
#https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
#Scrape below mentioned details :
#i) Paper Title 
#ii) Authors
#iii) Published Date 
#iv) Paper URL

In [174]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
soup=BeautifulSoup(page.content)
Paper_Title=[]
Authors=[]
Published_Date=[]
Paper_URL=[]
for i in soup.find_all("h2",{"class":"sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"}):
    Paper_Title.append(i.text)
for i in soup.find_all("span",{"class":"sc-1w3fpd7-0 pgLAT"}):
    Authors.append(i.text)
for i in soup.find_all("span",{"class":"sc-1thf9ly-2 bKddwo"}):
    Published_Date.append(i.text)
for i in soup.find_all("article"):
    a=i.find_all("a")
    for x in a:
        Paper_URL.append(x.attrs['href'])
Result=(pd.DataFrame(list(zip(Paper_Title,Authors,Published_Date,Paper_URL)),columns=["Paper_Title","Authors","Published_Date","Paper_URL"])).set_index("Paper_Title")
Result

,Authors,Published_Date,Paper_URL
Paper_Title,,,
Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
Law and logic: A review from an argumentation perspective,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
Artificial cognition for social human–robot interaction: An implementation,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
Explanation in artificial intelligence: Insights from the social sciences,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
Conflict-based search for optimal multi-agent pathfinding,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
The Hanabi challenge: A new frontier for AI research,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
Evaluating XAI: A comparison of rule-based and example-based explanations,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
Algorithms for computing strategies in two-player simultaneous move games,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
Selection of relevant features and examples in machine learning,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
"A survey of inverse reinforcement learning: Challenges, methods and progress","Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
Explaining individual predictions when features are dependent: More accurate approximations to Shapley values,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
A review of possible effects of cognitive biases on interpretation of rule-based machine learning models,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
Integrating social power into the decision-making of cognitive agents,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
Algorithm runtime prediction: Methods & evaluation,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

#9) Write a python program to scrape mentioned details from dineout.co.in :
#i) Restaurant name
#ii) Cuisine
#iii) Location 
#iv) Ratings
#v) Image URL

In [176]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://www.dineout.co.in/")
soup=BeautifulSoup(page.content)
Resturent_Name=[]
Cuisine=[]
Location=[]
Rating=[]
Image_URL=[]
for i in soup.find_all("h4",{"class":"_1jbOb"}):
    Resturent_Name.append(i.text)
for i in soup.find_all("p",{"class":"_1jbOb"}):
    Location.append(i.text)
for i in soup.find_all("div",{"class":"kGUdK _1oTbl"}):
    Rating.append(i.text)
for i in soup.find_all("div",{"class":"_2DVRC"}):
    a=i.find_all("img")
    for x in a:
        Image_URL.append(x.attrs['data-src'])
Result=(pd.DataFrame(list(zip(Resturent_Name,Location,Rating,Image_URL)),columns=["Resturent_Name","Location","Rating","Image_Url"])).set_index("Resturent_Name")
Result

,Location,Rating,Image_Url
Resturent_Name,,,
Connaught Clubhouse Microbrewery,"Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
38 Barracks,"Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
The Luggage Room By Sandoz,"Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Master Of Malts,"Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...

#10) Write a python program to scrape the details of top publications from Google Scholar from 
#https://scholar.google.com/citations?view_op=top_venues&hl=en
#i) Rank 
#ii) Publication
#iii) h5-index
#iv) h5-media

In [177]:
import requests
from bs4 import BeautifulSoup
page=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
soup=BeautifulSoup(page.content)
Rank=[]
Publication=[]
h5index=[]
h5median=[]
for i in soup.find_all("td",{"class":"gsc_mvt_p"}):
    Rank.append(i.text)
for i in soup.find_all("td",{"class":"gsc_mvt_t"}):
    Publication.append(i.text)
for i in soup.find_all("a",{"class":"gs_ibl gsc_mp_anchor"}):
    h5index.append(i.text)
for i in soup.find_all("span",{"class":"gs_ibl gsc_mp_anchor"}):
    h5median.append(i.text)
Result=(pd.DataFrame(list(zip(Rank,Publication,h5index,h5median)),columns=["Rank","Publication","h5index","h5median"])).set_index("Rank")
Result

                                            Publication h5index h5median
Rank
1.                                               Nature     444      667
2.                  The New England Journal of Medicine     432      780
3.                                              Science     401      614
4.    IEEE/CVF Conference on Computer Vision and Pat...     389      627
5.                                           The Lancet     354      635
...                                                 ...     ...      ...
96.                        Journal of Business Research     145      233
97.                                    Molecular Cancer     145      209
98.                                             Sensors     145      201
99.                               Nature Climate Change     144      228
100.                    IEEE Internet of Things Journal     144      212

[100 rows x 3 columns]